*
.config/*
!.config/
!.config/2bwm/config.h
!.config/kitty/kitty.conf
!.config/polybar/colors.ini
!.config/polybar/modules.ini
!.config/polybar/polybar.config
!.config/redshift/redshift.conf
!.mailcap
!.spectrwm.conf
!.tmux.conf
!.vimrc
!.xinitrc
.zsh/*
!.zsh/
!.zsh/.zshrc
!.zsh/.zshrc.aliases
!.zshenv
!README.md
.scripts/*
!scripts/
!scripts/polybar_launch.sh
!scripts/setWallpaper.sh
!scripts/xidlehookLock.sh
!.gitignore
