# ignore everything
/*
/*/

# Append files you don't want to be ignored
!/.config/
/.config/*

# 2bwm 
/.config/2bwm/*
!/.config/2bwm/
!/.config/2bwm/*

# i3
/.config/i3/*
!/.config/i3/
!/.config/i3/*

# i3status
/.config/i3status/*
!/.config/i3status/
!/.config/i3status/*

# spectrwm
!.spectrwm.conf

# kitty terminmal
/.config/kitty/*
!/.config/kitty/
!/.config/kitty/kitty.conf

# polybar
/.config/polybar/*
!/.config/polybar/
!/.config/polybar/*

# dunst
/.config/dunst/*
!/.config/dunst/
!/.config/dunst/*

# redshift
/.config/redshift/*
!/.config/redshift/
!/.config/redshift/*

# rtv default applications 
!.mailcap

# picom
!/.config/picom.conf

# tmux
!.tmux.conf

# vim/gvim
!.vimrc

# x startup
!.xinitrc

# zsh
/.zsh/*
!.zsh/
!.zsh/.zshrc
!.zsh/.zshrc.aliases
!.zshenv
!README.md

# scripts directory 
/scripts/*
!/scripts/
!/scripts/polybar_launch.sh
!/scripts/setWallpaper.sh
!/scripts/xidlehookLock.sh

# gitignore
!.gitignore
