# ignore everything
*

# Append files you don't want to be ignored
!/.config/
/.config/*

# 2bwm 
!/.config/2bwm/
/.config/2bwm/*
!/.config/2bwm/config.h

# i3
/.config/i3/*
/.config/i3status/*
!/.config/i3/
!/.config/i3status/

# spectrwm
!.spectrwm.conf

# kitty terminmal
!/.config/kitty/
/.config/kitty/*
!/.config/kitty/kitty.conf

# polybar
/.config/polybar/*
!/.config/polybar/
!/.config/polybar/*
!/.config/polybar/colors.ini
!/.config/polybar/modules.ini
!/.config/polybar/polybar.config

# dunst
!/.config/dunst/
/.config/dunst/*
!/.config/dunst/dunstrc

# redshift
/.config/redshift/*
!/.config/redshift/
!/.config/redshift/redshift.conf

# rtv default applications 
!.mailcap

# picom
!/.config/picom.conf

# tmux
!.tmux.conf

# vim/gvim
!.vimrc

# x startup
!.xinitrc

# zsh
/.zsh/*
!.zsh/
!.zsh/.zshrc
!.zsh/.zshrc.aliases
!.zshenv
!README.md

# scripts directory 
/scripts/*
!/scripts/
!/scripts/polybar_launch.sh
!/scripts/setWallpaper.sh
!/scripts/xidlehookLock.sh

# gitignore
!.gitignore
