[section/base]
; Include files
include-file = $HOME/.config/polybar/colors.ini
include-file = $HOME/.config/polybar/modules.ini

[bar/2bwm]
monitor = ${env:MONITOR1}
width = 100%
height = 30 
fixed-center = true
bottom = false

; Colors 
background = ${colors.background}
foreground = ${colors.foreground}

padding-left = 3
padding-right = 3

module-margin-left = 2
module-margin-right = 2

; Fonts/Icons
font-0 = "Ubuntu Nerd Font:pixelsize=12;2"
font-1 = "icomoon:pixelsize=11;3"
font-2 = "FontAwesome:size=12;1"
font-3 = "Source Han Serif:size=11;2"

; Modules location
modules-left = 2bWorkspace 
modules-center = date player-mpris-simple 
modules-right = pulseaudio wireless

; Tray settings
tray-maxsize = 16
tray-position = right
tray-padding = 2

screenchange-reload = true
enable-ipc = true

[bar/sideBar]
monitor = ${env:MONITOR2}
width = 100%
height = 30
fixed-center = true
bottom = false

; Colors 
background = ${colors.background}
foreground = ${colors.foreground}

padding-left = 3
padding-right = 3

module-margin-left = 2
module-margin-right = 2

; Fonts/Icons
font-0 = "Ubuntu Nerd Font:pixelsize=12;2"
font-1 = "FontAwesome:size=13;1"
font-2 = "Weather Icons:size=11;3"

; Modules location
modules-left = openweathermap-forecast 
modules-center = xwindow 
modules-right = memory cpu

tray-position = none

[bar/spectrwm]
monitor = ${env:MONITOR1}
width = 100%
height = 30 
fixed-center = true
bottom = false

; Colors 
background = ${colors.background}
foreground = ${colors.foreground}

padding-left = 3
padding-right = 3

module-margin-left = 2
module-margin-right = 2

; Fonts/Icons
font-0 = Ubuntu Nerd Font:pixelsize=12;2
font-1 = icomoon:pixelsize=11;3
font-2 = FontAwesome:size=12;1
font-3 = Weather Icons:size=12;1
font-4 = Source Han Serif:size=11;2

; Modules location
modules-left = ewmh 
modules-center = date player-mpris-simple 
modules-right = pulseaudio wireless

; Tray settings
tray-maxsize = 16
tray-position = right
tray-padding = 2

screenchange-reload = true
enable-ipc = true

[bar/normie_bar]
monitor = ${env:MONITOR1}
width = 100%
height = 30 
fixed-center = true
bottom = false

; Colors 
background = ${colors.background}
foreground = ${colors.foreground}

padding-left = 3
padding-right = 3

module-margin-left = 2
module-margin-right = 2

; Fonts/Icons
font-0 = "Ubuntu Nerd Font:pixelsize=12;2"
font-1 = "icomoon:pixelsize=11;3"
font-2 = "FontAwesome:size=12;1"
font-3 = "Source Han Serif:size=11;2"

; Modules location
modules-left = ewmh 
modules-center = date player-mpris-simple 
modules-right = pulseaudio wireless

; Tray settings
tray-maxsize = 16
tray-position = right
tray-padding = 2

screenchange-reload = true
enable-ipc = true
